.own-message {
  background-color: var(--own-message-bg-color);
  border-radius: 10px;
  padding: 10px 15px;
}

.message-text {
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--own-message-text-color);
}

.own-message-stats {
  display: flex;
  align-items: center;
}

.message-time {
  margin-right: 10px;
}

.message-like {
  margin-right: 10px;
}

.own-message-button {
  margin-right: 10px;
  font-weight: 600;
  background: none;
  border: none;
  color: var(--accent-text-color);
}

.own-message-button:hover {
  color: var(--accent-color);
}
