.messages-group {
  padding-top: 120px;
  padding-bottom: 100px;
}
.messages-divider {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.messages-divider-tag {
  background: #00314d;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  vertical-align: middle;
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.18;
  color: var(--accent-text-color);
}
.message-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.own-message-item {
  align-self: flex-end;
}

.message-item:not(:last-child),
.own-message-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .messages-group {
    padding-top: 170px;
  }
}
