.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 20px 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--appbar-bg-color);
  backdrop-filter: blur(4px);
}

.header-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -2px;
  color: var(--accent-text-color);
}

.header-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* width: 30%; */
  background-color: var(--appbar-accent-bg-color);
  border-radius: 15px 0px 0px 15px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -1px;
  color: var(--accent-text-color);
}

.header-users-count {
  margin-bottom: 5px;
}

.header-messages-count {
  margin-bottom: 5px;
}

.header-last-message-date {
  margin-bottom: 5px;
}

@media screen and (max-width: 767.98px) {
  .header {
    flex-direction: column;
    padding-bottom: 5%;
    padding-right: 0;
    align-items: stretch;
  }
  .header-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
