.message-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
  border-radius: 33px 33px 0px 0px;
  display: flex;
  justify-content: space-around;
  padding: 15px 5%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--appbar-bg-color);
  backdrop-filter: blur(4px);
}

.message-input-text {
  resize: none;
  flex-grow: 1;
  border: 0;
  border-radius: 33px;
  height: 45px;
  padding: 15px;
  overflow: hidden;
  outline: none;
  background-color: var(--appbar-secondary-bg-color);
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--accent-text-color);
}

.message-input-button {
  margin-left: 10px;
  border: 0;
  border-radius: 33px;
  vertical-align: middle;
  height: 45px;
  padding: 15px 25px;
  background-color: var(--appbar-accent-bg-color);
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--accent-text-color);
}

.message-input-button:hover {
  background-color: var(--appbar-accent-color);
}
