@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import './variables.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--appbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--own-message-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-text-color);
}
