:root {
  --main-font: 'Noto Sans', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --main-bg-color: #000000;
  --message-bg-color: #001623;
  --message-text-color: #adbcca;
  --accent-color: #ab3232;
  --own-message-bg-color: #264354;
  --own-message-text-color: #a1b9cf;
  --accent-text-color: #a1b9cf;
  --appbar-bg-color: rgb(3, 42, 65);
  --appbar-secondary-bg-color: rgba(0, 0, 0, 0.4);
  --appbar-accent-bg-color: rgba(255, 255, 255, 0.15);
  --appbar-accent-color: #006590;
}
