.message {
  display: flex;
  align-self: flex-start;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: var(--message-bg-color);
}

.message-avatar-wrap {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.message-user-avatar {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-user-name {
  margin-bottom: 10px;
  font-family: var(--title-font);
  font-weight: 700;
  color: var(--accent-color);
}

.message-text {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--message-text-color);
}

.message-body {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.message-stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.message-time {
  color: var(--own-message-text-color);
}

.message-like {
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.message-like-icon {
  display: inline-block;
  margin-right: 7px;
  border-radius: 2px;
  width: 22px;
  height: 22px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-bg-color);
}

.message-like:checked + .message-like-icon {
  fill: orange;
}

@media screen and (max-width: 767.98px) {
  .message-avatar-wrap {
    width: 40px;
    height: 40px;
  }
}
